@import url("https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --border-radius: 0.8rem;
  --primary-color: #fc8f4b;
}

body {
  font-family: "Zain", sans-serif;
  color: rgb(65, 65, 65);
  background-color: #fffffb;
}

.quiz-container {
  max-width: 90%;
  margin: 0 auto;
}

.quiz-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.quiz-title {
  text-align: center;
  line-height: 2rem;
  margin-bottom: 2rem;
  color: var(--primary-color);
}

.emoji {
  font-size: 1.5rem;
}

.scoreboard {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.quiz-subtitle {
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

.question {
  border-radius: var(--border-radius);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(235, 235, 235, 0.8) 0px 0px 14px;
  height: 25rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-title {
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
}

.answer-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.btn {
  width: 80%;
  font-family: "Zain", sans-serif;
  font-weight: 500;
  border: 1.5px solid var(--primary-color);
  border-radius: 0.8rem;
  padding: 1rem 2rem;
}

.btn-hover {
  background-color: rgb(245, 245, 245);
  background-color: #fbf4ef;
}

.btn-hover:hover {
  filter: brightness(90%);
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

.btn-remove-Attribute {
  background-color: rgb(244, 244, 244);
  color: rgb(220, 220, 220);
  border: none;
}

.answer-attribute:nth-of-type(1) {
  margin-right: 2rem;
}

.correct-answer {
  font-family: "Londrina Sketch", sans-serif;
  font-size: 4rem;
  line-height: 3rem;
  font-weight: 900;
  color: rgb(0, 109, 0);
  border: none;
  background-color: transparent;
  animation: scaleAnswer 0.5s forwards cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-align: center;
}

.description-text {
  margin: 1rem auto 0 auto;
  width: 80%;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

.footer {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}

.footer .btn {
  width: fit-content;
  color: var(--primary-color);
  font-size: 1rem;
  background-color: #fffffb;
}

.footer .btn:hover {
  background-color: #f8eee8;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
}

.true {
  background-color: rgba(110, 188, 65, 0.3);
  border: 1px solid rgb(110, 188, 65);
  color: rgb(67, 119, 37);
}

.false {
  background-color: rgba(255, 77, 0, 0.3);
  border: 1px solid rgb(255, 77, 0);
  color: rgb(147, 78, 49);
}

@media only screen and (min-width: 600px) {
  .quiz-container {
    max-width: 30rem;
  }

  .footer {
    margin-top: 2rem;
  }
}

@media only screen and (min-width: 1000px) {
  .quiz-container {
    max-width: 35rem;
  }

  .quiz-title {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .question {
    padding: 2.5rem 2.5rem;
  }

  .question-title {
    font-size: 1.3rem;
    line-height: 1.3rem;
  }

  .btn {
    font-size: 1.2rem;
    font-weight: 350;
  }

  .description-text {
    font-size: 1rem;
  }

  .footer .btn {
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1400px) {
  .quiz-container {
    max-width: 550px;
  }
}

@media only screen and (max-height: 510px) {
  .question {
    height: fit-content;
    padding: 1rem 1rem;
  }

  .answer-parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-top: 1rem;
  }

  .btn {
    width: 70%;
  }

  .footer {
    margin-top: 1rem;
  }
}

@keyframes myAnimation {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scaleAnswer {
  50% {
    transform: scale(1.25);
  }
}
